* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}

#caption {
    color: white;
    margin-top: 1%;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6C63FF, 0 0 40px #6C63FF, 0 0 50px #6C63FF, 0 0 60px #6C63FF, 0 0 70px #6C63FF;
    animation: blink 1s step-start 1s infinite alternate;
    -webkit-animation: blink 1s step-start 1s infinite alternate;
    -moz-animation: blink 1s step-start 1s infinite alternate;
    /* animation: glow duration timing-function delay iteration-count direction fill-mode; */
}

#screen {
    animation: blink 1s step-start infinite;
    -webkit-animation: blink 1s step-start infinite;
    -moz-animation: blink 1s step-start infinite;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6C63FF, 0 0 40px #6C63FF, 0 0 50px #6C63FF, 0 0 60px #6C63FF, 0 0 70px #6C63FF;
      }
      /*0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, */
      to {
        text-shadow: 0 0 80px #6C63FF;
      }
}

@-webkit-keyframes blink {
    
    50% {
        opacity: 0.0;
      }

      /* from {
        opacity: 1;
    }
    to {
        opacity: 0;
    } */
}